.user {
	font-size: 20px;
	font-family: sans-serif;
	letter-spacing: 0.1px;
	color: lightslategray;
	position: relative;
}

.content {
	position: absolute;
	left: 550px;
	top: 100px;
}

input {
	display: block;
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	padding: 10px;
	color: seagreen;
	font-size: 16px;
	cursor: pointer;
	width: 200px;
}

input:hover {
	transition: 1s;
	width: 300px;
}

.loginButton {
	position: relative;
	left: 60px;
	border: 1px solid green;
	cursor: pointer;
	color: green;
	font-weight: bold;
	padding: 5px;
	width: 80px;
}

.loginButton:hover {
	width: 110px;
	border-radius: 5px;
	color: antiquewhite;
	background-color: green;
	transition: 1s;
}
p{
	margin-top: 25px;
}