<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home :Pavan Tea</title>
	<link rel="stylesheet" href="" th:href="@{/css/Navigation.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
	<nav th:fragment="navbar()">
		<ul>
			<li>
				<img src="/Images/Kusmi Tea.jpg" alt="Owner_Logo" class="Owner_Logo">
			</li>
			<li>
				<a href="/home">Home</a>
			</li>
			<li>
				<a href="/products">Products</a>
			</li>
			<li>
				<a href="/location">Locate Us <i style="color: red;" class="fa-solid fa-location-crosshairs"></i></a>
			</li>
			<li>
				<a href="/about">About Us</a>
			</li>
			<li class="dropdown">
				<a href="#" class="dropbtn">Log In <i style="color: red;" class="fa-solid fa-right-to-bracket"></i></a>
				<div class="dropdown-content">
					<a href="/ALogin">Admin Log In</a>
					<a href="/ULogin">User Log In</a>
					<a href="/Logout">User Log Out</a>
				</div>
			</li>
		</ul>
	</nav>
</body>

</html>